*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(60, 58, 58);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background: #466978;
    background: linear-gradient(90deg, rgba(70, 105, 120, 1) 0%, rgba(123, 181, 179, 1) 15%, rgba(96, 138, 126, 1) 61%, rgba(89, 150, 120, 1) 100%, rgba(232, 226, 183, 1) 100%);
    height: 70vh;
    width: 55vh;
    padding: 1.2rem;
    padding-top: 2rem;
    border-radius: 1.2rem;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 2rem;
    background-color: #fff;
    cursor: pointer;
}

.search input{
    height: 40px;
    width: 82%;
    border: none;
    border-radius: 2rem;
    padding: 10px;
    outline: none;
    font-size: 1.2rem;
}

.search img{
    height: 18px;
    width: 15px;
}

.visual{
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

.visual img{
    height: 130px;
    width: 130px;
}

.weather h1,h2{
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

.weather h1{
    font-size: 2rem;
}

.others{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    padding: 0rem 1rem;
    color: #fff;
}

.others img{
    height: 28px;
}

.humidity, .wind{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.stat{
    font-size: 1.4rem;
}

.txt{
    font-size: 1rem;
}